/* Main color #0A3939 DARK GREEN
Secondary color #D8D2B9  GOLD */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* navbar */

.navbar {
  background-color: #0a3939;
  color: white;
  padding: 10px;
}
.navlink {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 1.2rem;
}
.navlink:hover {
  color: #d8d2b9;
}
.navlink:focus,
.navlink:active {
  color: #d8d2b9;
  border-bottom: 2px solid #d8d2b9;
}

.navbar-brand {
  font-size: 1.2rem; 
}
/* about  */
.aboutp {
  max-height: 0;
  overflow: hidden;
  transition:  all .5s;
}

.aboutpshow {
  height:auto;
  max-height: 100px;
  transition:  all .5s;
}

/* darkmode */

.darkmode {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 30px;
  float: right;
}

.soft-yellow {
  background-color: #f7f2dd !important;
}


.login , .register {
  min-height: 88vh;
  background-image: url("https://res.cloudinary.com/dffxhlnzz/image/upload/v1676907224/wave_5_ep2xno.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* events */

.eventcard img {
  height: 12rem;
}

.eventcard:hover {
  cursor: pointer;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}

/* persons */
/* .persons hr {
  width: 50%;
  transform: translate(50%);
} */

.persons h2 {
  background: linear-gradient(to right, black 50%, #1f6812 50%, #0c6f16);
  background-size: 200%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease-in;
}

.persons h2:hover {
  background-position: -100%;
  font-size: 2.2rem;
}

.persons img {
  max-width: 20rem;
  max-height: 25rem;
  min-width: 15rem;
  min-height: 18rem;
  transition: 1s;
  flex-wrap: wrap;
}

.persons img:hover {
  transform: scale(1.1);
  z-index: 2;
}
/* .person {
  box-shadow: #000;
  background: #f7f2dd;
} */
.person:hover {
  background: linear-gradient(
    to left,
    rgba(243, 198, 131, 0.1),
    rgba(243, 198, 131, 0.299)
  );
}

.btn-success {
  position: relative;
  background: #fff;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #333;
}
.btn-success:before,
.btn-success:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #1f6812;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease all;
}
.btn-success:before {
  left: -30px;
  transform: translate(-50%, -50%);
}
.btn-success:after {
  right: -30px;
  transform: translate(50%, -50%);
}
.btn-success:hover {
  color: #fff;
  transition: 0.3s color 0.3s;
}
.btn-success:hover:before {
  left: 50%;
  animation: 0.3s grow 0.3s forwards;
}
.btn-success:hover:after {
  right: 50%;
  animation: 0.3s grow 0.3s forwards;
}
@keyframes grow {
  from {
    height: 20px;
    width: 20px;
  }
  to {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.btn-danger:hover {
  border: 3px solid #f44336;
  color: #f44336;
  animation: shake 0.3s linear 1;
}
@keyframes shake {
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.linkStyle {
  text-decoration: none;
  color: #000;
}

.dots {
  list-style-type: none;
}
.nearBySelect {
  border-radius: 5px;
  padding: 10px;
  background-color: #0a3939;
  color: white;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}

.profile {
  border: 2px solid #0a3939;
  box-shadow: 12px 12px 2px 1px rgba(10, 57, 57, 0.2);
  background: linear-gradient(
    to left,
    rgba(243, 198, 131, 0.1),
    rgba(243, 198, 131, 0.25)
  );
}

.profile:hover {
  box-shadow: 0px 0px 10px 10px rgba(10, 57, 57, 0.2);
}

#profilepic {
  transition: 1s;
  border-radius: 50%;
}
#profilepic:hover {
  scale: 1.05;
  z-index: 2;
}

.footer {
  background-color: #0a3939;
  color: white;
  padding: 10px;
}

.userpic {
  max-width: 15rem;
  max-height: 20rem;
}

#userpic {
  width: 30px;
  border-radius: 50%;
}

.border-btm {
  border-bottom: 2px solid #d8d2b9;
}